.main-image img {
  background-color: #020926;
}

.forWidth {
  background: #020926;
  margin: auto;
  padding: 90px;
  justify-content: center;
}
.container-logo {
  position: relative;
}
.img1 {
  position: absolute;
  top: 4%;
  left: 36%;
}
.img6 {
  position: absolute;
  top: 4%;
  right: 36%;
}
.img2 {
  position: absolute;
  top: 41%;
  left: 28%;
}
.img5 {
  position: absolute;
  top: 41%;
  right: 28%;
}
.img3 {
  position: absolute;
  top: 81%;
  left: 36%;
}
.img4 {
  position: absolute;
  top: 81%;
  right: 36%;
}

/* .img1 img,
.img2 img,
.img3 img,
.img4 img,
.img5 img,
.img6 img {
  width: 7%;
} */
.img1 img:hover,
.img2 img:hover,
.img3 img:hover,
.img4 img:hover,
.img5 img:hover,
.img6 img:hover {
  filter: grayscale(1);
}
.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #020926;
  margin: auto;
  transform: rotate(90deg);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.6px solid #020926;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.6px solid #020926;
}

.hexagon p {
  padding: 0px 83px;
  transform: rotate(-90deg);
}

.description {
  position: absolute;
  top: 35%;
  left: 38.6%;
  color: white;
  display: none;
}
.description.active {
  display: block !important;
}
.img1 .description {
  display: block;
}
@media screen and (min-width: 1900px) {
  .img1 {
    top: 4%;
    left: 36%;
  }
  .img6 {
    top: 4%;
    right: 36%;
  }
  .img2 {
    top: 41%;
    left: 28%;
  }
  .img5 {
    top: 41%;
    right: 28%;
  }
  .img3 {
    top: 81%;
    left: 36%;
  }
  .img4 {
    top: 81%;
    right: 36%;
  }
  .description {
    top: 35%;
    left: 38.6%;
  }
  .hexagon p {
    padding: 0px 70px;
  }
}
@media screen and (max-width: 1399px) {
  .img1 {
    top: 4%;
    left: 34%;
  }
  .img6 {
    top: 4%;
    right: 34%;
  }
  .img2 {
    top: 42%;
    left: 25%;
  }
  .img5 {
    top: 42%;
    right: 25%;
  }
  .img3 {
    top: 81%;
    left: 34%;
  }
  .img4 {
    top: 81%;
    right: 34%;
  }
}
@media screen and (max-width: 1199px) {
  .img1 {
    top: 5%;
    left: 31%;
  }
  .img6 {
    top: 5%;
    right: 31%;
  }
  .img2 {
    top: 42%;
    left: 21%;
  }
  .img5 {
    top: 42%;
    right: 21%;
  }
  .img3 {
    top: 80%;
    left: 31%;
  }
  .img4 {
    top: 80%;
    right: 31%;
  }

  .description {
    top: 34.5%;
    left: 34.5%;
  }
}
@media screen and (max-width: 991px) {
  .img1 {
    top: 5%;
    left: 25%;
  }
  .img6 {
    top: 5%;
    right: 25%;
  }
  .img2 {
    top: 42%;
    left: 11%;
  }
  .img5 {
    top: 42%;
    right: 11%;
  }
  .img3 {
    top: 80%;
    left: 25%;
  }
  .img4 {
    top: 80%;
    right: 25%;
  }
  .description {
    top: 35%;
    left: 29%;
  }
}
@media screen and (max-width: 767px) {
  .img1 img,
  .img2 img,
  .img3 img,
  .img4 img,
  .img5 img,
  .img6 img {
    width: 70%;
  }

  .img1 {
    top: 10%;
    left: 20%;
  }
  .img6 {
    top: 10%;
    right: 20%;
  }
  .img2 {
    top: 45%;
    left: 4%;
  }
  .img5 {
    top: 45%;
    right: 0%;
  }
  .img3 {
    top: 80%;
    left: 20%;
  }
  .img4 {
    top: 80%;
    right: 15%;
  }
  .description {
    top: 35%;
    left: 22%;
  }
}

@media screen and (max-width: 540px) {
  .img1 img,
  .img2 img,
  .img3 img,
  .img4 img,
  .img5 img,
  .img6 img {
    width: 50%;
  }
  .forWidth img {
    width: 80%;
  }
  .img1 {
    top: 16%;
    left: 25%;
  }

  .img6 {
    top: 16%;
    right: 25%;
  }
  .img2 {
    top: 43%;
    left: 16%;
  }
  .img5 {
    top: 43%;
    right: 16%;
  }
  .img3 {
    top: 71%;
    left: 25%;
  }
  .img4 {
    top: 71%;
    right: 25%;
  }

  .description {
    top: 32%;
    left: 14%;
  }
  .hexagon {
    width: 120px;
    height: 120.21px;
  }
  .hexagon:before {
    bottom: 100%;
    border-bottom: 26.6px solid #020926;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
  }
  .hexagon:after {
    bottom: 100%;
    border-top: 26.6px solid #020926;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
  }
  .description p {
    font-size: 10px;
    padding: 0px 0px;
  }
  .description {
    top: 31.5%;
    left: 31%;
  }
}
@media screen and (max-width: 375px) {
  .img1 img,
  .img2 img,
  .img3 img,
  .img4 img,
  .img5 img,
  .img6 img {
    width: 40%;
  }
  .img1 {
    top: 21%;
    left: 28%;
  }
  .img6 {
    top: 21%;
    right: 23%;
  }
  .img2 {
    top: 44%;
    left: 21%;
  }
  .img5 {
    top: 44%;
    right: 15%;
  }
  .img3 {
    top: 68%;
    left: 28%;
  }
  .img4 {
    top: 68%;
    right: 21%;
  }
  .hexagon {
    width: 83px;
    height: 93.21px;
  }
  .hexagon:before {
    bottom: 100%;
    border-bottom: 15px solid #020926;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
  }
  .hexagon:after {
    bottom: 100%;
    border-top: 15px solid #020926;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
  }
  .description {
    top: 34%;
    left: 36%;
  }
  .description p {
    font-size: 8px;
  }
}
@media screen and (max-width: 320px) {
  .img1 img,
  .img2 img,
  .img3 img,
  .img4 img,
  .img5 img,
  .img6 img {
    width: 30%;
  }
  .forWidth img {
    width: 100%;
  }
  .img1 {
    top: 25%;
    left: 34%;
  }
  .img6 {
    top: 25%;
    right: 16%;
  }
  .img2 {
    top: 45%;
    left: 27%;
  }
  .img5 {
    top: 45%;
    right: 8%;
  }
  .img3 {
    top: 65%;
    left: 34%;
  }
  .img4 {
    top: 65%;
    right: 16%;
  }
  .description {
    top: 36%;
    left: 41%;
  }
  .description p {
    font-size: 5px;
  }
  .hexagon {
    width: 50px;
    height: 72.21px;
  }
  .hexagon:before {
    bottom: 100%;
    border-bottom: 10px solid #020926;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
  .hexagon:after {
    bottom: 100%;
    border-top: 10px solid #020926;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
}
